:root{
    --primary-text-color: #212121;
    --white-color: #FFFFFF;
    --accent-color: #2196F3;
    --second-color: #757575;
    --second-backgraound-color: #F5F4FA;
    --bck-color: #2F303A;
}
header{
    color: var(--white-color);
}
ul{
    list-style: none;
}
.logo-link{
    text-decoration: none;
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em
}
.logo-header{
    color: var(--primary-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em
}

.site-nav .link{
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color)
}
.site-nav .link-current{
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.site-nav .link-current:hover,
.site-nav .link-current:focus{
    color: var(--accent-color)
}
.site-auth .link{
    text-decoration: none;
    color: var(--second-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.site-auth .link:hover,
.site-auth .link:focus{
    color: var(--accent-color);
}

.hero{
    background-color: var(--bck-color);
}
.hero-title{
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center
}
.hero-button{
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    letter-spacing: 0.06em;
}
.work{
    background-color: var(--white-color);
}
.work-title{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.work-text{
    color: var(--second-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.section{
    background-color: var(--white-color);
}
.section-title{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.comand{
    background-color: var(--second-backgraound-color);
}
.comand-title{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.comand-mind{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.comand-text{
    color: var(--second-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.footer{
    background-color: var(--bck-color);
}
.footer .logo-footer{
    color: var(--white-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.footer .logo-link{
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.footer .footer-address{
    text-decoration: none;
    color: var(--white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.footer .footer-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.button .button-nav{
    cursor: pointer;
    color: var(--primary-text-color);
    background-color: var(--second-backgraound-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}
.button .button-nav:hover,
.button .button-nav:focus{
    color: var(--white-color);
    background-color: var(--accent-color);
}
.link-portf{
    text-decoration: none;
}
.work-all .all-title{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.work-all .all-text{
    color: var(--second-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}
.button, .work-all{
    background-color: var(--white-color);
}
body{
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}